<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Registration complete</h1>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">&nbsp;</div>
	</div>
	
	<form name="registerForm" class="form-horizontal">
		<div class="row">
			<br>
			<div class="col-md-12 text-center">
				The registration process was successful. You can now login and start planning your next trip!
			</div>
		</div>

		<div class="control-group">
			<br>
			<br>
			<div class="col-md-12 text-center">
				<a ng-click="login()" class="btn btn-sm btn-success">Login</a>
				<a ng-click="cancel()" class="btn btn-sm btn-primary">Cancel</a>
			</div>
		</div>
	</form>
</div>
