<div class="container">
	<div class="row section-header">
		<div class="col-md-11">
			<h3>Trips</h3>
		</div>
		<div class="col-md-1">
			<a ng-click="logout()">Logout</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<span>&nbsp;</span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<form name="searchForm" class="form-horizontal">
				<div class="row">
					<div class="col-md-3">
						<label class="control-label">Destination:</label>
						<input type="text" class="form-control" ng-model="searchCriteria.destination" />
					</div>
					<div class="col-md-3">
						<label class="control-label">From date:</label>
						<p class="input-group">
							<input type="text" class="form-control" name="fromDate" ng-model="searchCriteria.fromDate" is-open="openedFromDate" datepicker-options="dateOptions" datepicker-popup="dd-MM-yyyy" />
							<span class="input-group-btn">
								<button class="btn btn-default" ng-click="openFromDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</p>
					</div>
					<div class="col-md-3">
						<label class="control-label">To date:</label>
						<p class="input-group">
							<input type="text" class="form-control" name="toDate" ng-model="searchCriteria.toDate" is-open="openedToDate" datepicker-options="dateOptions" datepicker-popup="dd-MM-yyyy" />
							<span class="input-group-btn">
								<button class="btn btn-default" ng-click="openToDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<a ng-click="search()" class="btn btn-sm btn-success">Search</a>
						<a ng-click="clear()" class="btn btn-sm btn-primary">Clear</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">&nbsp;</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<table class="table table-stripped">
				<thead>
					<th>Destination</th>
					<th>Start date</th>
					<th>End date</th>
					<th>Days to trip</th>
					<th>Comment</th>
					<th></th>
				</thead>
				<tbody>
					<tr ng-repeat="t in trips">
						<td>{{ t.destination }}</td>
						<td>{{ t.startDate | date: "dd/MM/yyyy" }}</td>
						<td>{{ t.endDate | date: "dd/MM/yyyy" }}</td>
						<td>{{ t.startDate | daysToTrip }}</td>
						<td>{{ t.comment | limitText: 20 }}</td>
						<td>
							<a ng-click="view(t)">View</a>
							&nbsp;
							<a ng-click="edit(t)">Edit</a>
							&nbsp;
							<a ng-click="delete(t)">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<br>
			
			<a ng-click="create()" class="btn btn-success btn-sm">Create</a>
			<a ng-click="tripsNextMonth()" class="btn btn-primary btn-sm">Next month plan</a>
		</div>
	</div>
</div>
