<div class="container">
	<div class="row section-header">
		<div class="col-md-11">
			<h3>Trips for next month</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<span>&nbsp;</span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<table class="table table-stripped">
				<thead>
					<th>Destination</th>
					<th>Start date</th>
					<th>End date</th>
					<th>Days to trip</th>
					<th>Comment</th>
				</thead>
				<tbody>
					<tr ng-repeat="t in trips">
						<td>{{ t.destination }}</td>
						<td>{{ t.startDate | date: "dd/MM/yyyy" }}</td>
						<td>{{ t.endDate | date: "dd/MM/yyyy" }}</td>
						<td>{{ t.startDate | daysToTrip }}</td>
						<td>{{ t.comment | limitText: 20 }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<br>
			
			<a ng-click="print()" class="btn btn-sm btn-success">Print</a>
			<a ng-click="cancel()" class="btn btn-sm btn-primary">Cancel</a>
		</div>
	</div>
</div>
